.wpn_meta_autosave input:invalid,
.wpn_meta_autosave textarea:invalid,
.wpn_meta_autosave select:invalid {
	background: #FEE;
	border-color: #F00;
}

.wpn_meta_autosave {
}
	.wpn_meta_autosave label {
		display: block;
	}
	.wpn_meta_autosave input {
		width: 100%;
	}

.wpn_meta_autosave p.sortable {
	background-color: #fff;
	padding-left: 10px;
	position: relative;
	-webkit-touch-callout: none;
	    -webkit-user-select: none;
	     -khtml-user-select: none;
	       -moz-user-select: none;
	        -ms-user-select: none;
	            user-select: none; 
	transition: background-color 1s;
}
	.wpn_meta_autosave p.sortable input {
		user-select: text;
	}
	.wpn_meta_autosave p.sortable:before {
		content: ':';
		color: #aaa;
		font-size: 1.5em;
		font-weight: bold;
		position: absolute;
		left: 0;
		top: calc(50% - .75em);
	}

	.wpn_meta_autosave p.draggable-mirror {
		background: #eee;
		border: 2px solid #eee;
		box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	}
	.wpn_meta_autosave p.sortable.draggable-source--is-dragging {
		background-color: #fed;
		visibility: hidden;
	}
		.draggable-source--is-dragging * {
			/*opacity: 0.4;*/
		}

.wpn_meta-posttitle p {
	display: flex;
	align-items: center;
	font-size: 1.4em;
	margin-top: 5px;
}
	.wpn_meta-posttitle p label,
	.wpn_meta-posttitle p input {
		flex: 0 1 auto;
		margin-right: .5em;
	}
	.wpn_meta-posttitle p label {
		white-space: nowrap;
	}
	.wpn_meta-posttitle p input {
		padding: 3px 8px;
		line-height: 100%;
		height: 2em;
		width: 100%;
		outline: 0;
		margin: 0 0 3px;
		background-color: #fff;
	}

#post-body .manage_genre_features:before {
	content: "\f313";
}

.meta_extraimage {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.meta_extraimage img {
	display: none;
	max-width: 100%;
}
	.meta_extraimage.has_image img {
		cursor: pointer;
		display: inline-block;
	}
.meta_extraimage .meta_extraimage-remove,
.meta_extraimage .click_to_edit {
	display: none;
}
	.meta_extraimage.has_image .meta_extraimage-add {
		display: none;
	}
	.meta_extraimage.has_image .meta_extraimage-remove {
		display: inline;
	}
	.meta_extraimage.has_image .click_to_edit {
		display: block;
	}